lab02b - XML/lab02b.dtd

<!ELEMENT uczelnia (wydzial)>
<!ELEMENT wydzial (nazwawydzialu , kierunek+)>
<!ELEMENT nazwawydzialu (#PCDATA)>
<!ELEMENT kierunek (nazwakierunku , student+)>
<!ELEMENT nazwakierunku (#PCDATA)>
<!ELEMENT student (imie , drugieimie , nazwisko , numeridx)>
<!ELEMENT imie (#PCDATA)>
<!ELEMENT drugieimie (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
<!ELEMENT numeridx (#PCDATA)>